body{
  overflow-x:hidden ;
  overflow-y: hidden;
  padding: 30px;
  background-color: antiquewhite!important;
}
@media only screen and (max-width: 600px){
  body{
    overflow-x:hidden ;
  overflow-y: hidden;
padding: 10px;
  
  }
}